---
Order: 30
Description: Build Server Support
---
<p>Depending on the Build Server being used, i.e. TeamCity, Jenkins, etc, GitVersion might need to extra repository information in order to work correctly.  In has knowledge of most of the main CI Providers, and when instructed to do so, it will fetch the necessary information in order to correctly assert the semantic version number.</p>
<p>In addition, most build servers allow the setting of the build number within the system, GitVersion knows how to do this automatically.</p>

@Html.Partial("_ChildPages")
