install:
  npm i -g tfx-cli

assembly_info:
  patch: false

configuration:
  - Debug

build_script:
  - ps: .\build.ps1
  - cmd: npm i -g typescript

  - cmd: mkdir src\GitVersionTfsTask\node_modules
  - cmd: cd src\GitVersionTfsTask
  - cmd: npm install
  - cmd: cd ..\..
  - cmd: tsc -p src/GitVersionTfsTask

test: off
skip_tags: true

cache:
  - src\packages -> **\packages.config  # preserve "packages" directory in the root of build folder but will reset it if packages.config is modified