variables: { DOTNET_SKIP_FIRST_TIME_EXPERIENCE: 'true', DOTNET_CLI_TELEMETRY_OPTOUT: 'true' }

stages:
- stage: Build
  jobs:
  - job: Build
    strategy:
      matrix:
        'Windows':
          VM_IMAGE: 'windows-latest'
        'Linux':
          VM_IMAGE: 'ubuntu-latest'
        'macOS':
          VM_IMAGE: 'macOS-latest'
    pool:
      vmImage: $(VM_IMAGE)
    steps:
    - template: build/stages/build.yml
- stage: Test
  dependsOn: []
  jobs:
  - job: Test
    strategy:
      matrix:
        'Windows':
          VM_IMAGE: 'windows-latest'
        'Linux':
          VM_IMAGE: 'ubuntu-latest'
        'macOS':
          VM_IMAGE: 'macOS-latest'
    pool:
      vmImage: $(VM_IMAGE)
    steps:
    - template: build/stages/test.yml

- stage: Artifact_Test
  displayName: 'Artifacts test'
  dependsOn:
  - Build
  - Test
  condition: succeeded()
  jobs:
  - template: build/stages/generate-job.yml
  - template: build/stages/artifacts-test.yml
    parameters:
      name: Linux
      vmImage: 'ubuntu-latest'
#   - template: build/stages/artifacts-test.yml
#     parameters:
#       name: Windows
#       vmImage: 'windows-latest'

- stage: Docker
  dependsOn: Artifact_Test
  condition: succeeded()
  jobs:
  - template: build/stages/generate-job.yml
  - template: build/stages/docker.yml
    parameters:
      name: Linux
      vmImage: 'ubuntu-latest'
#   - template: build/stages/docker.yml
#     parameters:
#       name: Windows
#       vmImage: 'windows-latest'

- stage: Publish
  dependsOn: Artifact_Test
  condition: succeeded()
  jobs:
  - job: Publish
    pool:
      vmImage: windows-latest
    steps:
    - template: build/stages/publish.yml

- stage: Release
  dependsOn:
  - Docker
  - Publish
  condition: succeeded()
  jobs:
  - job: Release
    pool:
      vmImage: windows-latest
    steps:
    - template: build/stages/release.yml
