---
Order: 80
Description: More in depth information about GitVersion
---
<p>Once you understand the basics of GitVersion, there are a number of lower level functions and configurations that you might want to make.  These are detailed in the following sections.</p>

@Html.Partial("_ChildPages")
