<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Fody" version="1.16.2.0" targetFramework="net40" />
  <package id="LibGit2Sharp" version="0.13.0.0" targetFramework="net40" />
  <package id="ModuleInit.Fody" version="1.5.3" targetFramework="net40" />
  <package id="NCrunch.Framework" version="1.46.0.9" targetFramework="net40" />
  <package id="NUnit" version="2.6.2" targetFramework="net40" />
</packages>