<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ApprovalTests" version="3.0.5" targetFramework="net40" />
  <package id="ApprovalUtilities" version="3.0.5" targetFramework="net40" />
  <package id="FluentDateTime" version="1.10.0.0" targetFramework="net40" />
  <package id="Fody" version="1.22.1" targetFramework="net45" developmentDependency="true" />
  <package id="LibGit2Sharp" version="0.17.0.0" targetFramework="net45" />
  <package id="Microsoft.Web.Xdt" version="1.0.0" targetFramework="net40" />
  <package id="ModuleInit.Fody" version="1.5.6.0" targetFramework="net45" developmentDependency="true" />
  <package id="Mono.Cecil" version="0.9.5.4" targetFramework="net45" />
  <package id="Nuget.Core" version="2.8.0" targetFramework="net45" />
  <package id="NUnit" version="2.6.3" targetFramework="net40" />
  <package id="ObjectApproval" version="0.1.4" targetFramework="net45" />
  <package id="Roslyn.Compilers.Common" version="1.2.20906.2" targetFramework="net45" />
  <package id="Roslyn.Compilers.CSharp" version="1.2.20906.2" targetFramework="net45" />
  <package id="Shouldly" version="2.1.1" targetFramework="net45" />
</packages>