@font-family-sans-serif:  "Roboto", Helvetica, Arial, sans-serif;

@purple: #682A7B;
@dark-purple: darken(@purple, 10%);

a {
    color: @purple;

    &:hover {
        color: @dark-purple;
    }
}

.jumbotron {
    padding: 4rem;

    h1 {
        color: @purple;
    }

    .container {
        width: 60rem;
        margin: 0 auto;
        padding-left: 16rem;
        background-image: url('/assets/img/icon.svg');
        background-repeat: no-repeat;
        background-position: 1rem 0;
        background-size: 14rem;
    }

    .tagline {
        font-size: 2.5rem;

        code {
            color: #047101;
            background-color: transparent;
        }
    }
}

body.layout-boxed .top-banner,
.layout-top-nav .main-header,
.main-header {
    &,
    > .logo,
    .navbar {
        background-color: @purple;
        height: 50px;
    }
}

/* For Gitter and GitHub */
.bottom-footer {
	margin-bottom: 40px !important;  // Make room for Gitter and GitHub buttons
}

.gitter-open-chat-button {
	background-color: @purple;
	font-family: @font-family-sans-serif;
	letter-spacing: normal;
	right: 90px;
}

.gitter-open-chat-button:focus,
.gitter-open-chat-button:hover,
.github-button:focus,
.github-button:hover {
	background-color: @dark-purple;
	color: #fff;
}

.gitter-chat-embed {
	top: 49px;
	border-top: 1px solid #000;
	z-index: 10000;
}

.github-button {
	z-index: 100;
	position: fixed;
	bottom: 0px;
	right: 240px;
	padding: 1em 3em;
    background-color: @purple;
	border: 0;
	border-top-left-radius: 0.5em;
	border-top-right-radius: 0.5em;
	font-family: sans-serif;
	font-size: 9pt;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	cursor: hand;
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
	color: #fff;
	a, a:active, a:hover, a:focus {
		color: #fff;
	}
}

.logo-small {
    color: @purple;
    font-size: 50px;
}

main {
    font-size: 2rem;
}

main h3 {
    font-size: 3rem;
    font-weight: bold;
}

main .col-sm-6 {
    margin: 4rem 0 6rem 0;
}


.table thead tr {
    background-color: @purple;
}

.sidebar-menu {
    li.selected > a {
        background-color: @purple !important;
    }

    .treeview-menu > li > a {
        padding-left: 26px;
    }

    li.active > a.expand {
        padding-left: 18px;
    }
}

.btn-primary {
    background-color: @purple;
    border-color: @dark-purple;
    text-overflow: ellipsis;
    overflow: hidden;

    &:hover {
        background-color: @dark-purple;
    }
}

.card-container {
    display: flex;
    flex-direction: row;

    .card {
        margin-right: 1.25rem;
    }

    .card:last-of-type {
        margin-right: 0;
    }
}

.card {
    position: relative;
    display: flex;
    flex: 1 1 0px;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    margin-bottom: 1.25rem;
}

.card-header {
    display: flex;
    flex-direction: row;
    background-color: @purple;
    padding: .25rem 1.25rem;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
    color: #fff;

    img {
        height: 2.6rem;
        margin: 1.1rem 1.25rem 1.25rem 0;
    }

    h5 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
        min-height: 2rem;
    }
}

.card-body {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    padding: 1.25rem;
}

.card-text {
    flex-grow: 1;
}

.box {
    border-color: @purple;
}

.icons table {
    border-spacing: 0 1rem;

    thead {
        display: none;
    }

    td {
        border-top: none !important;
        font-size: 2rem;
        vertical-align: middle !important;

        &:first-of-type {
            width: 72px;

            a {
                width: 55px;
                height: 55px;
                background-color: @purple;
                border-radius: 10px;
                display: table-cell;
                vertical-align: middle;

                &:hover {
                    background-color: @dark-purple;
                }
            }
        }

        &:last-of-type {
            padding-left: .5rem;
        }
    }

    img {
        max-width: 30px;
        max-height: 30px;
    }
}

@media only screen and (max-width: 890px) {
    .card-container {
        flex-direction: column;
    }
}

.dropdown {
  display: inline-block;
  left: 550px;
}

/* Dropdown Button */
.dropbtn {
  padding: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside dropdown content */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
   background-color: #f1f1f1
}

/* Show the dropdown content on hover */
.dropdown:hover .dropdown-content {
  display: block;
  padding: 12px 16px;
}
