<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ApprovalTests" version="3.0.8" targetFramework="net45" />
  <package id="ApprovalUtilities" version="3.0.8" targetFramework="net45" />
  <package id="FluentDateTime" version="1.11.0" targetFramework="net45" />
  <package id="Fody" version="1.28.1" targetFramework="net45" developmentDependency="true" />
  <package id="LibGit2Sharp" version="0.20.1.0" targetFramework="net45" />
  <package id="Microsoft.CodeAnalysis.Common" version="1.0.0.0-beta2" targetFramework="net45" />
  <package id="Microsoft.CodeAnalysis.CSharp" version="1.0.0.0-beta2" targetFramework="net45" />
  <package id="Microsoft.Web.Xdt" version="1.0.0" targetFramework="net40" />
  <package id="ModuleInit.Fody" version="1.5.6.0" targetFramework="net45" developmentDependency="true" />
  <package id="NUnit" version="2.6.4" targetFramework="net45" />
  <package id="ObjectApproval" version="1.0.0" targetFramework="net45" />
  <package id="Shouldly" version="2.5.0" targetFramework="net45" />
  <package id="System.Collections.Immutable" version="1.1.32-beta" targetFramework="net45" />
  <package id="System.Reflection.Metadata" version="1.0.17-beta" targetFramework="net45" />
</packages>