<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="LibGit2Sharp" publicKeyToken="7cbde695407f0333" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.23.0.0" newVersion="0.23.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>