---
Title: Usage
Description: |
    There are four different ways to consume GitVersion itself. You can find
    each of these options below.
Order: 1
RedirectFrom:
- docs/usage/gem
- docs/usage/usage
---

<p>@Html.Raw(Model.String(DocsKeys.Description))</p>

@Html.Partial("_ChildPages")
