---
Order: 10
Description: Information on general usage of GitVersion
Title: Getting Started
---
<p>Here you will find some top level information about getting started with GitVersion, as well as the different flavours of GitVersion, i.e. the command line tool, the MSBuild Task, etc.</p>

@Html.Partial("_ChildPages")
