<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ApprovalTests" version="3.0.8" targetFramework="net45" />
  <package id="ApprovalUtilities" version="3.0.8" targetFramework="net45" />
  <package id="FluentDateTime" version="1.12.0" targetFramework="net45" />
  <package id="Fody" version="1.29.3" targetFramework="net45" developmentDependency="true" />
  <package id="GitTools.Core" version="0.4.0-beta0004" targetFramework="net45" />
  <package id="GitTools.Testing" version="1.1.0" targetFramework="net45" />
  <package id="LibGit2Sharp" version="0.22.0" targetFramework="net45" />
  <package id="LibGit2Sharp.NativeBinaries" version="1.0.129" targetFramework="net45" />
  <package id="ModuleInit.Fody" version="1.5.8.0" targetFramework="net45" developmentDependency="true" />
  <package id="Mono.Cecil" version="0.9.6.1" targetFramework="net45" />
  <package id="NSubstitute" version="1.10.0.0" targetFramework="net45" />
  <package id="NUnit" version="2.6.4" targetFramework="net45" />
  <package id="NUnitTestAdapter" version="2.0.0" targetFramework="net45" />
  <package id="Shouldly" version="2.7.0" targetFramework="net45" />
  <package id="TestStack.ConventionTests" version="3.0.0" targetFramework="net45" />
  <package id="YamlDotNet" version="3.8.0" targetFramework="net45" />
</packages>