<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentDateTime" version="1.13.0" targetFramework="net45" />
  <package id="Fody" version="2.0.8" targetFramework="net45" developmentDependency="true" />
  <package id="GitTools.Core" version="1.3.0" targetFramework="net45" />
  <package id="GitTools.Testing" version="1.1.1-beta0001" targetFramework="net45" />
  <package id="JetBrains.Annotations" version="10.4.0" targetFramework="net45" />
  <package id="LibGit2Sharp" version="0.24.0" targetFramework="net45" />
  <package id="LibGit2Sharp.NativeBinaries" version="1.0.185" targetFramework="net45" />
  <package id="Microsoft.CSharp" version="4.3.0" targetFramework="net45" />
  <package id="ModuleInit.Fody" version="1.6.0" targetFramework="net45" developmentDependency="true" />
  <package id="NSubstitute" version="1.10.0.0" targetFramework="net45" />
  <package id="NUnit" version="3.6.0" targetFramework="net45" />
  <package id="NUnit3TestAdapter" version="3.7.0" targetFramework="net45" />
  <package id="Shouldly" version="2.7.0" targetFramework="net45" />
  <package id="System.Dynamic.Runtime" version="4.3.0" targetFramework="net45" />
  <package id="System.Runtime.Serialization.Primitives" version="4.3.0" targetFramework="net45" />
  <package id="TestStack.ConventionTests" version="3.0.0" targetFramework="net45" />
  <package id="YamlDotNet" version="3.8.0" targetFramework="net45" />
</packages>