---
Order: 50
Title: Versioning Modes
Description: The different modes of versioning GitVersion supports
RedirectFrom: docs/reference/versioning-modes/versioning-mode
---

<p>
    GitVersion supports a few different versioning modes. They are described
    in detail on the pages enumerated below.
</p>

@Html.Partial("_ChildPages")
