---
Order: 20
Title: Command Line
Description: |
    The Command Line gives most flexibility by allowing the execution of
    GitVersion to be customized
CardIcon: terminal.svg
---

<p>
    @Html.Raw(Model.String(DocsKeys.Description)).
    Read more about how to install and use the CLI in the sections linked below.
</p>

@Html.Partial("_ChildPages")
