---
Title: GitVersion
NoSidebar: true
NoContainer: true
NoGutter: true
---

<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">GitVersion</h1>
        <p class="tagline">
            From <code>git log</code> to <a href="https://semver.org">SemVer</a> in no time
        </p>
    </div>
</div>

<main role="main" class="container text-center">
    <div class="row slideanim">
        <div class="col-sm-6">
            <span class="glyphicon glyphicon-heart logo-small"></span>
            <h3 class="no-anchor">Open-Source</h3>
            <p>
                GitVersion is free to use, improve, contribute and distribute.
                Source code is available on <a href="https://github.com/GitTools/GitVersion">GitHub</a> under MIT license.
            </p>
        </div>

        <div class="col-sm-6">
            <span class="glyphicon glyphicon-random logo-small"></span>
            <h3 class="no-anchor">Flexible</h3>
            <p>
                GitVersion is built for many different use-cases and workflows, so whether you use
                <a href="/docs/reference/versioning-modes/mainline-development">Mainline</a>,
                <a href="/docs/git-branching-strategies/gitflow">Git Flow</a> or
                <a href="/docs/git-branching-strategies/githubflow-examples">GitHub Flow</a>,
                GitVersion has you covered.
            </p>
        </div>
    </div>

    <div class="row slideanim">
        <div class="col-sm-6">
            <span class="glyphicon glyphicon-cog logo-small"></span>
            <h3 class="no-anchor">Configurable</h3>
            <p>
                Gitversion is highly <a href="/docs/configuration">configurable</a>
                and can be made to support your specific versioning scheme, almost
                regardless of what it may be.
            </p>
        </div>

        <div class="col-sm-6">
            <span class="glyphicon glyphicon-wrench logo-small"></span>
            <h3 class="no-anchor">Rich tooling</h3>
            <p>
                Expose version variables in different formats to the tools you use. Use GitVersion locally or in a
                build pipeline with
                <a href="/docs/build-server-support/build-server/teamcity">TeamCity</a>,
                <a href="/docs/build-server-support/build-server/appveyor">AppVeyor</a>,
                <a href="/docs/build-server-support/build-server/jenkins">Jenkins</a> or any of the other supported
                <a href="/docs/build-server-support/">build servers</a>.
            </p>
        </div>
    </div>
</main>
