<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ApprovalTests" version="3.0.8" targetFramework="net45" />
  <package id="ApprovalUtilities" version="3.0.8" targetFramework="net45" />
  <package id="FluentDateTime" version="1.11.0" targetFramework="net45" />
  <package id="Fody" version="1.28.1" targetFramework="net45" developmentDependency="true" />
  <package id="LibGit2Sharp" version="0.20.1.0" targetFramework="net45" />
  <package id="NUnit" version="2.6.4" targetFramework="net45" />
  <package id="Shouldly" version="2.5.0" targetFramework="net45" />
  <package id="YamlDotNet" version="3.5.1" targetFramework="net45" />
</packages>