#################
## Visual Studio
#################

# User-specific files
.vs
*.suo
*.user
*.userprefs
*.sln.docstates
*.pidb
*.received.txt
# Build results
[Dd]ebug/
[Rr]elease/
[Bb]in
[Oo]bj
################
# Project Rider
################

.idea
*.sln.iml

####################
# Visual Studio Code
####################

.vscode
artifacts

run/

tools/
