<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GitTools.Core" version="1.1.0-beta0001" targetFramework="net45" />
  <package id="GitTools.Testing" version="1.1.1-beta0001" targetFramework="net45" />
  <package id="LibGit2Sharp" version="0.23.0-pre20150419160303" targetFramework="net45" />
  <package id="LibGit2Sharp.NativeBinaries" version="1.0.137" targetFramework="net45" />
  <package id="NSubstitute" version="1.10.0.0" targetFramework="net45" />
  <package id="NUnit" version="3.2.1" targetFramework="net45" />
  <package id="NUnitTestAdapter" version="2.0.0" targetFramework="net45" />
  <package id="Shouldly" version="2.7.0" targetFramework="net45" />
</packages>