on:
  workflow_call:
    inputs:
      runner:
        required: true
        type: string
      arch:
        required: true
        type: string
      test_arm64_artifacts:
        required: false
        type: boolean
        default: false

env:
  DOTNET_INSTALL_DIR: "./.dotnet"

jobs:
  artifacts:
    name: ${{ matrix.distro }} - net${{ matrix.targetFramework }}
    runs-on: ${{ inputs.runner }}
    strategy:
      fail-fast: false
      matrix:
        distro: [ alpine.3.16, alpine.3.17, centos.7, centos.stream.8, fedora.36, debian.11, ubuntu.20.04, ubuntu.22.04 ]
        targetFramework: [ '7.0', '6.0' ]

    steps:
    -
      name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
    -
      name: Restore State
      uses: ./.github/actions/artifacts-restore
    -
      uses: actions/download-artifact@v3
      name: Download nuget packages
      with:
        name: nuget
        path: ${{ github.workspace }}/artifacts/packages/nuget
    -
      uses: actions/download-artifact@v3
      name: Download native packages
      with:
        name: native-${{ runner.os }}
        path: ${{ github.workspace }}/artifacts/packages/native
    -
      name: Setup QEMU
      if: inputs.arch == 'arm64'
      uses: docker/setup-qemu-action@v3
    -
      name: Echo
      shell: pwsh
      run: |
          Write-Host "Test ARM64 Artifacts: ${{ inputs.test_arm64_artifacts }}"
    -
      name: '[Test Artifacts]'
      shell: pwsh
      run: dotnet run/artifacts.dll --target=ArtifactsTest --arch ${{ inputs.arch }} --docker_dotnetversion=${{ matrix.targetFramework }} --docker_distro=${{ matrix.distro }}
      env:
        TEST_ARM64_ARTIFACTS: ${{ inputs.test_arm64_artifacts }}
