on:
  workflow_call:
    inputs:
      runner:
        required: true
        type: string
      arch:
        required: true
        type: string
      dockerDistros:
        required: true
        type: string
      dotnetVersions:
        required: true
        type: string
env:
  DOTNET_INSTALL_DIR: "./.dotnet"
  DOTNET_ROLL_FORWARD: "Major"
  
jobs:
  artifacts:
    name: ${{ matrix.dockerDistro }} - net${{ matrix.dotnetVersion }}
    runs-on: ${{ inputs.runner }}
    strategy:
      fail-fast: false
      matrix: 
        dockerDistro: ${{ fromJson(inputs.dockerDistros) }}
        dotnetVersion: ${{ fromJson(inputs.dotnetVersions) }}
    steps:
    -
      name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
    -
      name: Restore State
      uses: ./.github/actions/cache-restore
    -
      uses: actions/download-artifact@v4
      name: Download nuget packages
      with:
        name: nuget
        path: ${{ github.workspace }}/artifacts/packages/nuget
    -
      uses: actions/download-artifact@v4
      name: Download native packages
      with:
        name: native-Linux
        path: ${{ github.workspace }}/artifacts/packages/native
    -
      name: Set up Docker
      uses: ./.github/actions/docker-setup
    -
      name: '[Test Artifacts]'
      shell: pwsh
      run: |
          dotnet run/artifacts.dll `
                --target=ArtifactsTest --arch=${{ inputs.arch }} --dotnet_version=${{ matrix.dotnetVersion }} `
                --docker_distro=${{ matrix.dockerDistro }}