on:
  workflow_call:
    inputs:
      runner:
        required: true
        type: string
      arch:
        required: true
        type: string
      docker_distros:
        required: true
        type: string
      dotnet_versions:
        required: true
        type: string

env:
  DOTNET_INSTALL_DIR: "./.dotnet"
  DOTNET_ROLL_FORWARD: "Major"
  
jobs:
  artifacts:
    name: ${{ matrix.docker_distro }} - net${{ matrix.dotnet_version }}
    runs-on: ${{ inputs.runner }}
    strategy:
      fail-fast: false
      matrix:
        docker_distro: ${{ fromJson(inputs.docker_distros) }}
        dotnet_version: ${{ fromJson(inputs.dotnet_versions) }}
    steps:
    -
      name: Checkout
      uses: actions/checkout@v5
      with:
        fetch-depth: 0
    -
      name: Restore State
      uses: ./.github/actions/cache-restore
    -
      uses: actions/download-artifact@v6
      name: Download nuget packages
      with:
        name: nuget
        path: ${{ github.workspace }}/artifacts/packages/nuget
    -
      uses: actions/download-artifact@v6
      name: Download native packages
      with:
        name: native-Linux
        path: ${{ github.workspace }}/artifacts/packages/native
    -
      name: Set up Docker
      uses: ./.github/actions/docker-setup
    -
      name: '[Test Artifacts]'
      shell: pwsh
      run: |
          dotnet run/artifacts.dll `
                --target=ArtifactsTest --arch=${{ inputs.arch }} --dotnet_version=${{ matrix.dotnet_version }} `
                --docker_distro=${{ matrix.docker_distro }}