on:
  workflow_call:
    inputs:
      docker_distros:
        required: true
        type: string
      dotnet_versions:
        required: true
        type: string

env:
  DOTNET_INSTALL_DIR: "./.dotnet"
  DOTNET_ROLL_FORWARD: "Major"

jobs:
  manifest:
    name: ${{ matrix.docker_distro }} - net${{ matrix.dotnet_version }}
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        docker_distro: ${{ fromJson(inputs.docker_distros) }}
        dotnet_version: ${{ fromJson(inputs.dotnet_versions) }}
    steps:
    -
      name: Checkout
      uses: actions/checkout@v6
      with:
        fetch-depth: 0
    -
      name: Restore State
      uses: ./.github/actions/cache-restore
    -
      name: Set up Docker
      uses: ./.github/actions/docker-setup
    -
      name: Docker Manifests
      if: success() && github.event_name != 'pull_request' && github.repository_owner == 'GitTools' && github.ref_name == 'main'
      uses: ./.github/actions/docker-manifests
      with:
        docker_distro: ${{ matrix.docker_distro }}
        dotnet_version: ${{ matrix.dotnet_version }}
        docker_registry_username: ${{ secrets.DOCKER_USERNAME }}
        docker_registry_password: ${{ secrets.DOCKER_PASSWORD }}
        github_registry_username: ${{ github.repository_owner }}
        github_registry_password: ${{ secrets.DOCKER_GITHUB_TOKEN }}
