on:
  workflow_call:
    inputs:
      dotnet_versions:
        required: true
        type: string
env:
  DOTNET_INSTALL_DIR: "./.dotnet"
  DOTNET_ROLL_FORWARD: "Major"

jobs:
  unit_test:
    name: ${{ matrix.os }} - net${{ matrix.dotnet_version }}
    env:
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
    strategy:
      fail-fast: false
      matrix:
        os: [ windows-2025, ubuntu-24.04, macos-15 ]
        dotnet_version: ${{ fromJson(inputs.dotnet_versions) }}

    runs-on: ${{ matrix.os }}
    steps:
    -
      name: Checkout
      uses: actions/checkout@v6
      with:
        fetch-depth: 0
    -
      name: Restore State
      uses: ./.github/actions/cache-restore

    - name: '[Unit Test]'
      uses: nick-fields/retry@v3
      with:
        shell: pwsh
        timeout_minutes: 30
        max_attempts: 3
        retry_on: error
        command: 'dotnet run/build.dll --target=Test --dotnet_version=${{ matrix.dotnet_version }}'

    -
      name: Test Summary
      uses: test-summary/action@v2.4
      if: ${{ always() && matrix.dotnet_version == '10.0' }}
      with:
        paths: artifacts/test-results/*.results.xml
