name: Verify & Publish Documentation

on:
  workflow_dispatch:
  push:
    paths:
    - 'docs/**'
  pull_request:
    paths:
    - 'docs/**'
jobs:
  build:
    runs-on: windows-latest
    env:
      GITHUB_TOKEN: ${{ secrets.RELEASE_GITHUB_TOKEN }}
      GITHUB_USERNAME: ${{ github.actor }}
    steps:
    -
      name: Checkout
      uses: actions/checkout@v2
    -
      name: Cache cake frosting
      id: cache-cake
      uses: actions/cache@v2.1.6
      with:
        path: run
        key: run-docs-${{ runner.os }}-${{ hashFiles('./build/**') }}
    -
      name: '[Prepare]'
      if: steps.cache-cake.outputs.cache-hit != 'true'
      run: dotnet build build/CI.sln --configuration=Release
    # -
    #   name: '[Build Documentation]'
    #   shell: pwsh
    #   run: dotnet run/docs.dll --target=BuildDocs

    # -
    #   name: '[HTMLProofer]'
    #   uses: chabad360/htmlproofer@master
    #   with:
    #     directory: ./artifacts/docs/preview
    #     arguments: --url-ignore /api/ --allow-hash-href --assume-extension --disable-external
    # -
    #   name: '[Remark Lint]'
    #   uses: reviewdog/action-remark-lint@v2
    #   with:
    #     github_token: ${{ secrets.GITHUB_TOKEN }}
    #     reporter: github-pr-check
    -
      name: '[Publish Documentation]'
      if: ${{ github.event_name == 'push' }}
      shell: pwsh
      run: dotnet run/docs.dll --target=PublishDocs
    -
      name: '[Publish Documentation]'
      if: ${{ github.event_name == 'workflow_dispatch' }}
      shell: pwsh
      run: dotnet run/docs.dll --target=PublishDocs --force
