name: Verify & Publish Docs

on:
  workflow_dispatch:
  push:
    branches:
    # - main
    - 'support/*'
    paths:
    - docs/**
    - package*.json
    - markdownlint.json
    - .remarkrc.yaml
    - mkdocs.yml
    - .github/workflows/docs.yml
  pull_request:
    branches:
    # - main
    - 'support/*'
    paths:
    - docs/**
    - package*.json
    - markdownlint.json
    - .remarkrc.yaml
    - mkdocs.yml
    - .github/workflows/docs.yml
env:
  DOTNET_ROLL_FORWARD_ON_NO_CANDIDATE_FX: 2

jobs:
  prepare:
    name: Prepare Build
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest]
      fail-fast: false

    steps:
    -
      name: Checkout
      uses: actions/checkout@v3
      with:
        fetch-depth: 0
    -
      name: Cache cake frosting
      id: cache-cake
      uses: actions/cache@v3.0.2
      with:
        path: run
        key: run-${{ runner.os }}-${{ hashFiles('./build/**') }}
    -
      name: Use cached tools
      id: cache-tools
      uses: actions/cache@v3.0.2
      with:
        path: tools
        key: tools-${{ runner.os }}-${{ hashFiles('./build/**') }}
    -
      name: Get npm cache directory
      id: cache-node-dir
      run: echo "::set-output name=dir::$(npm config get cache)"
    -
      name: Cache Node Modules
      id: cache-node
      uses: actions/cache@v3.0.2
      with:
        path: ${{ steps.cache-node-dir.outputs.dir }}
        key: node-${{ runner.os }}-${{ hashFiles('./package-lock.json') }}
        restore-keys: node-${{ runner.os }}
    -
      name: Install .NET SDK 6.0.x
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: '6.0.x'
    -
      name: '[Prepare]'
      if: steps.cache-cake.outputs.cache-hit != 'true'
      run: dotnet build build/CI.sln --configuration=Release

  validate:
    name: Validates Html
    needs: [prepare]
    runs-on: ubuntu-latest
    steps:
    -
      name: Checkout
      uses: actions/checkout@v3
      with:
        fetch-depth: 0
    -
      name: Use cached cake frosting
      id: cache-cake
      uses: actions/cache@v3.0.2
      with:
        path: run
        key: run-${{ runner.os }}-${{ hashFiles('./build/**') }}
    -
      name: Use cached tools
      id: cache-tools
      uses: actions/cache@v3.0.2
      with:
        path: tools
        key: tools-${{ runner.os }}-${{ hashFiles('./build/**') }}
    -
      name: Install .NET SDK 6.0.x
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: '6.0.x'
    -
      name: '[Build Documentation]'
      shell: pwsh
      run: dotnet run/docs.dll --target=BuildDocs
    -
      name: '[HTMLProofer]'
      uses: chabad360/htmlproofer@master
      with:
        directory: ./artifacts/docs/preview
        arguments: --url-ignore /api/ --allow-hash-href --assume-extension --disable-external
    -
      name: Reviewdog Reporter
      uses: haya14busa/action-cond@v1
      id: reporter
      with:
        cond: ${{ github.event_name == 'pull_request' }}
        if_true: github-pr-review
        if_false: github-check
    -
      name: '[Remark Lint]'
      uses: reviewdog/action-remark-lint@v5.3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        reporter: ${{ steps.reporter.outputs.value }}

  publish:
    name: Publish docs
    needs: [validate]
    runs-on: windows-latest
    env:
      GITHUB_TOKEN: ${{ secrets.RELEASE_GITHUB_TOKEN }}
      GITHUB_USERNAME: ${{ github.actor }}
    steps:
    -
      name: Checkout
      uses: actions/checkout@v3
      with:
        fetch-depth: 0
    -
      name: Use cached cake frosting
      id: cache-cake
      uses: actions/cache@v3.0.2
      with:
        path: run
        key: run-${{ runner.os }}-${{ hashFiles('./build/**') }}
    -
      name: Use cached tools
      id: cache-tools
      uses: actions/cache@v3.0.2
      with:
        path: tools
        key: tools-${{ runner.os }}-${{ hashFiles('./build/**') }}
    -
      name: Install .NET SDK 6.0.x
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: '6.0.x'
    -
      name: '[Publish Documentation]'
      if: ${{ github.event_name == 'push' }}
      shell: pwsh
      run: dotnet run/docs.dll --target=PublishDocs
    -
      name: '[Publish Documentation]'
      if: ${{ github.event_name == 'workflow_dispatch' }}
      shell: pwsh
      run: dotnet run/docs.dll --target=PublishDocs --force
