name: Verify & Publish Docs

on:
  workflow_dispatch:
  push:
    paths:
    - 'docs/**'
  pull_request:
    paths:
    - 'docs/**'
env:
  DOTNET_ROLL_FORWARD_ON_NO_CANDIDATE_FX: 2

jobs:
  prepare:
    name: Prepare Build
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest]
      fail-fast: false

    steps:
    -
      name: Checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 0
    -
      name: Cache cake frosting
      id: cache-cake
      uses: actions/cache@v2.1.7
      with:
        path: run
        key: run-${{ runner.os }}-${{ hashFiles('./build/**') }}
    -
      name: Use cached tools
      id: cache-tools
      uses: actions/cache@v2.1.7
      with:
        path: tools
        key: tools-${{ runner.os }}-${{ hashFiles('./build/**') }}
    -
      name: Install .NET SDK 6.0.x
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '6.0.x'
    -
      name: '[Prepare]'
      if: steps.cache-cake.outputs.cache-hit != 'true'
      run: dotnet build build/CI.sln --configuration=Release

  validate:
    name: Validates Html
    needs: [prepare]
    runs-on: ubuntu-latest
    steps:
    -
      name: Checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 0
    -
      name: Use cached cake frosting
      id: cache-cake
      uses: actions/cache@v2.1.7
      with:
        path: run
        key: run-${{ runner.os }}-${{ hashFiles('./build/**') }}
    -
      name: Use cached tools
      id: cache-tools
      uses: actions/cache@v2.1.7
      with:
        path: tools
        key: tools-${{ runner.os }}-${{ hashFiles('./build/**') }}
    -
      name: Install .NET SDK 6.0.x
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '6.0.x'
    -
      name: '[Build Documentation]'
      shell: pwsh
      run: dotnet run/docs.dll --target=BuildDocs

    -
      name: '[HTMLProofer]'
      uses: chabad360/htmlproofer@master
      with:
        directory: ./artifacts/docs/preview
        arguments: --url-ignore /api/ --allow-hash-href --assume-extension --disable-external
    -
      name: '[Remark Lint]'
      uses: reviewdog/action-remark-lint@v5.2
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        reporter: github-pr-check

  publish:
    name: Publish docs
    needs: [validate]
    runs-on: windows-latest
    env:
      GITHUB_TOKEN: ${{ secrets.RELEASE_GITHUB_TOKEN }}
      GITHUB_USERNAME: ${{ github.actor }}
    steps:
    -
      name: Checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 0
    -
      name: Use cached cake frosting
      id: cache-cake
      uses: actions/cache@v2.1.7
      with:
        path: run
        key: run-${{ runner.os }}-${{ hashFiles('./build/**') }}
    -
      name: Use cached tools
      id: cache-tools
      uses: actions/cache@v2.1.7
      with:
        path: tools
        key: tools-${{ runner.os }}-${{ hashFiles('./build/**') }}
    -
      name: Install .NET SDK 6.0.x
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '6.0.x'
    -
      name: '[Publish Documentation]'
      if: ${{ github.event_name == 'push' }}
      shell: pwsh
      run: dotnet run/docs.dll --target=PublishDocs
    -
      name: '[Publish Documentation]'
      if: ${{ github.event_name == 'workflow_dispatch' }}
      shell: pwsh
      run: dotnet run/docs.dll --target=PublishDocs --force
