name: Update GitTools Actions

on:
  workflow_dispatch:
    inputs:
      tag-name:
        description: 'Tag name to use for the release'
        required: true
  repository_dispatch:
    types: [ publish-release ]

defaults:
  run:
    shell: pwsh

permissions:
  contents: read

jobs:
  homebrew:
    permissions:
      contents: none
    name: Update GitTools Actions
    runs-on: ubuntu-24.04
    steps:
      -
        name: Get version
        id: get-version
        shell: pwsh
        run: |
          $version = "${{ github.event.client_payload.tag }}"
          if ($version -eq "") {
            $version = "${{ github.event.inputs.tag-name }}"
          }
          "version=$version" >> $env:GITHUB_OUTPUT
      -
        uses: peter-evans/repository-dispatch@v4
        name: Update GitTools Actions
        with:
          token: ${{ secrets.RELEASE_GITHUB_TOKEN }}
          repository: ${{ github.repository_owner }}/actions
          event-type: gitversion-release-published
          client-payload: '{"ref": "${{ github.ref }}", "sha": "${{ github.sha }}", "tag": "${{ steps.get-version.outputs.version }}"}'
