name: Homebrew

on:
  repository_dispatch:
    types: [release]
jobs:
  homebrew:
    name: Bump Homebrew formula
    runs-on: macos-latest
    steps:
    - uses: dawidd6/action-homebrew-bump-formula@v3.8.0
      with:
        # GitHub token, required, not the default one
        token: ${{secrets.HOMEBREW_GITHUB_TOKEN}}
        # Formula name, required
        formula: gitversion
        tag: ${{ github.event.client_payload.ref }}
