name: Mark public API as shipped

on:
  workflow_dispatch:
  repository_dispatch:
    types: [ publish-release ]

defaults:
  run:
    shell: pwsh

permissions:
  contents: read

jobs:
  homebrew:
    permissions:
      contents: none
    name: Mark public API as shipped
    runs-on: ubuntu-24.04
    steps:
      -
        name: Checkout
        uses: actions/checkout@v6
        if: github.event_name == 'repository_dispatch' || github.event_name == 'workflow_dispatch'
        with:
          token: ${{ secrets.PUSH_GITHUB_TOKEN }}
      -
        name: Mark public API as shipped
        run: ./src/mark-shipped.ps1
      -
        name: Check for changes
        id: status
        run: |
          if ($null -ne (git status --porcelain)) { echo "has_changes=1"; echo "has_changes=1" >> $env:GITHUB_OUTPUT }
      -
        name: Push changes
        run: |
          git add --verbose .
          git config user.name 'gittools-bot'
          git config user.email 'gittoolsbot@outlook.com'
          git commit -m 'Mark public API as shipped' --allow-empty
          git push --force
        if: steps.status.outputs.has_changes == '1'
